*{
  margin: 0;
}
.bg{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: cornflowerblue;
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.bgCard{
  background-color: aliceblue;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
}